/*
Theme Name: Reel Pros
Theme URI: http://www.reelprosnw.com/
Description: A custom theme for Reel Pros.
Author: Jeremy R Perry
Author URI: http://www.jeremyrperry.com/
Version: 2.0
Tags: reel pros, jeremy r perry, jrp web solutions

License:
License URI:

General comments (This conditional CSS sheet is to help older versions of Internet Explorer not act too retarded).
*/

body {
  	padding:0px;
    margin: 0px;
    background-image: url('images/big_eddy_ie_is_retarded.jpg');
	background-repeat:no-repeat;
	margin-left: auto;
	margin-right: auto;
	background-attachment:fixed;
	background-position:center;
	/*
	background-color: rgb(192, 187, 184);
	background-color: rgb(177, 199, 222);
	*/
	background-color: black;
	
}