/*
Theme Name: Reel Pros
Theme URI: http://www.reelprosnw.com/
Description: A custom theme for Reel Pros.
Author: Jeremy R Perry
Author URI: http://www.jeremyrperry.com/
Version: 2.0
Tags: reel rpos, jeremy r perry, jrp web solutions

License:
License URI:

General comments (This theme is not to be reused without express consent).
*/

body{
	background-image: url('images/big_eddy_main.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	behavior: url(wp-content/themes/ReelprosTemplate/pie/PIE.htc);
}

a img{
	border: 0;
}
header div{
	display: inline-block;
	vertical-align: top;
}

.rounded_five, .menu-item{
	border-radius:5px;
	[IF !IE] -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior: url(wp-content/themes/ReelprosTemplate/pie/PIE.htc);
}


nav li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 18px Comic Sans MS;
	padding: 5px;
	margin-right: 10px;
	background-color:  	#C0C0C0;
	opacity: 0.7;
	}
	
nav li a{
	color: white;
	text-decoration: none;
}

nav ul ul
{	
	visibility: hidden;
	padding: 0;
	margin:0;
	position: absolute;}

	
nav li:hover ul{ 
	visibility: visible;
	position: relative;
}


nav li:hover li{ 
	float: none;
}
#front_page_widgets{
	width: 100%;
	height: 530px;
}
/*
#front_page_widgets .front_page_widget{
	display: inline-block;
}
*/

#image_div{
	width: 800px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
}

#image_div li{
	list-style: none;
}

#image_div img{
	height:450px;
	width: 800px;
}

.slider li{
	list-style: none;
	display: none;
	margin-left: -40px;
}

#main{
	max-width: 1000px;
	background-color: white;
	border-radius: 10px;
	[IF !IE] -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-left: auto;
	margin-right:auto;
	padding: 10px;
	behavior: url(wp-content/themes/ReelprosTemplate/pie/PIE.htc);
}
article h2{
	text-align: center;
}

.fm-form .submit{
	float: left
}

.post{
	border-bottom: 1px solid black;
}

.post h2 a, .post h2 a:visited{
	text-decoration: none;
	color: black;
}

#whats_going_on{
	float: right;
	max-width: 225px;
	padding: 10px;
	border-top-right-radius: 5px;
	margin-top: -30px;
	margin-right: -10px;
	margin-left: 30px;
	padding-top: -11px;
	background-color: #E8E8E8;
}

#whats_going_on h2{
	margin-top: 15px;
}

@media only screen and
(max-device-width : 1024px) 
	{
	#image_div, #image_div img{
		max-height: 300px;
		max-width: 450px;
	}
	
	#main{
	margin-top: 45px;
	border-radius: 0px;
	}
}



@media only screen and
(max-device-width : 640px) 

	{
	body{
		background-image: url('images/big_eddy_mobile_portrait.jpg');
		background-size:cover;
		background-attachment: none;
	}
	#front_page_widgets{
		height: 150px;
	}	
	#whats_going_on{
		margin-left:20px;
		margin-bottom: 20px;
		display: none;
	}
	header div{
		display:block;
	}
	nav li{
		display: block;
		width: 300px;
		height: 25px;
		margin-bottom: 5px;
		float: none;
		margin-left: -40px;
		opacity: 1.0;
		border: 1px solid black;
		
	}
	nav li a{
		font-size: 20px;
	}
	nav li:hover ul{ 
		display: block;
		margin-bottom: 10px;
	}
	
	#image_div, #image_div img{
		width: 90%;
	}
	
	#image_div img{
		height: auto;
	}
	.post{
		width: 100%;
	}

	input[type="text"], textarea, input[type="submit"]{
		max-width: 75%;
	}
	input[type="submit"]{
		float: left;
	}	
}